@font-face {
  font-family: myFont; /* set name */
  src: url(./fantasy.ttf); /* url of the font */
}

#title {
    text-align: center;
    font-family: myFont;
    font-size: 7vw;
    color: black;
}


#toggleBtn  {
  font-family: myFont;
  font-size: 20px;
  cursor: pointer;
  background-color: #333;
  color: white;
  padding: 10px 15px;
  border: none;
  margin-bottom: 20px;

  position: relative;
  z-index: 1000;
}

.sidebar {
  height: 100%;
  width: 250px;
  position: fixed;
  top: 0;
  left: -250px; 
  background-color: #333;
  padding-top: 60px;
  transition: left 0.3s ease;
  z-index: 1;
}

.sidebar  a{
	  padding: 15px 25px;
  text-decoration: none;
  color: #818181;
  display: block;
  transition: 0.2s;
}

.sidebar  a:hover{
	color: #f1f1f1;
}

.sidebar.active{
	left: 0;
}

#mainContent {
  margin-left: 0;
  transition: margin-left 0.3s ease; /* Smooth sliding transition */
}

#mainContent.active {
  margin-left: 250px;
}